.user-dashboard {
  .dashboard-header {
    background-color: #06253e !important;
  }
  .dashboard-sidebar {
    .admin-navbar {
      background-color: #06253e !important;
    }
    .admin-sidebar {
      background-color: #2d5272 !important;
    }
  }
}
