.patient-details{
    overflow-x: auto;
    table{
        border: 1px solid #000;
        border-collapse: collapse;
        width: 100%;
        margin: 40px auto;
        }
        thead{
            text-align: center;
            border-bottom: 1px solid #000;
            }
        th,tr,td{
            padding: .5em;
        }
        td,th{
            border: 1px solid #000;
            text-align: left;
        }
        
        button {
            padding: 8px 28px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            background-color: #0d395d;
            color: white;
            border: none;
            border-radius: 4px;
            // margin-bottom: 30px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          }
    
}